<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryMDB.Properties.Settings.DATABASEConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\_TEMP\DATABASE.mdb;Persist Security Info=True;Jet OLEDB:Database Password=@@@"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>